@import 'colors';

body{
	background-color: $yellow;
	.navbar{
		height: 100px;
		padding: 0;
		background-color: $navback;
		font-size: 20px;
	}
	h1{
		color: $darkpurple;
	}
	.img {
		width:  128px;
		height: 195px;
	}
	.title{
		width: 9.375em;
		max-height: 27px;
		color: $lightteal;
	}
    p{
		width: 200px !important;
		word-wrap: break-word !important;
		white-space: pre-wrap !important;
	}
	.greeting{
		color: $darkpurple;
	}
	.view{
		width: 50%;
		margin: 0 auto;
	}
	.shelf{
		display: block;
		width: 100%;
		background-color: brown;
		height: 10px;
		border-radius: 10px;
	}
}