<div class="container">
	<section id="content">
		<form action="">
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Email" required="" id="username"  ng-model="auth.email" required autofocus/>
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" ng-model="auth.password" required/>
			</div>
			<div>
				<input type="text" placeholder="Username"  ng-model="auth.username"/>
			</div>
			<div>
				<input type="submit" value="Log in" ng-click="loginUser()"/>
				<a href="#">Forgot password?</a>
				<a href="#" ng-click="registerUser()">Register</a>
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->

