<h3 class="text-center">{{selectedBook.title}}</h3>
<img class="img-rounded center-block" ng-src="{{selectedBook.imageLink}}" alt="">
<h4 class="text-center">Authors: {{selectedBook.author}}</h4>
<h5 class="text-center">Description: {{selectedBook.description}}</h5>
<p class="text-center">ISBN: {{selectedBook.isbn}}</p>
<button class="center-block" ng-click="checkoutBook()">Checkout</button>

<h6 class="text-center" ng-repeat="score in ratings">Ratings: {{score.rating}}</h6><!-- MUST ADD RATING HERE -->
<!-- 	<ul>
		<li ng-repeat="item in ratings">{{item.rating}}</li>
		<li>{{item.uid}}</li>
	</ul>
 -->
