<div class='view'>
	<h3 class="text-center det">{{selectedBook.title}}</h3>
	<img class="img center-block" ng-src="{{selectedBook.imageLink}}" alt="">
	<h4 class="text-center det"><strong>Authors:</strong> {{selectedBook.author}}</h4>
	<h5 class="text-center det"><strong>Description:</strong> {{selectedBook.description}}</h5>
	<p class="center-block det"><strong>ISBN:</strong> {{selectedBook.isbn}}</p>
	<button class="btn center-block" ng-if="!selectedBook.isCheckedOut" ng-click="checkoutBook()">Checkout</button>
	<button uib-popover="{{dynamicPopover.content}}" popover-title="{{dynamicPopover.title}}" type="button" popover-trigger="focus" popover-is-open="false" class=" btn center-block" ng-if="selectedBook.isCheckedOut" ng-click="addToWaitList(selectedBook); popoverIsOpen = !popoverIsOpen;">Add To Waiting List</button>
		<script type="text/ng-template" id="myPopoverTemplate.html">
			<div>{{dynamicPopover.content}}</div>
		</script>
			
	<h6 class="text-center det"><strong>Average Ratings:</strong> {{averageRatings}}</h6>
	<h4 class="text-center det">Rate Me</h4>
	<span class="center-block det" uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating" ng-click="rateMe(rate, selectedBook)"></span>
</div>