  <div style="height: 250px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides" index="slide.id">
        <img ng-src="{{slide.imageLink}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{slide.title}}</h4>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <button type="button" class="btn btn-info" ng-click="randomize()">Randomize slides</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <!--<div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>-->

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-model="dropDown">Action <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li class="dropDown" ><a ng-click="setdropDown('inauthor')">Author</a></li>
          <li class="dropDown"><a  ng-click="setdropDown('intitle')">Title</a></li>
        </ul>
      </div>
      <input id="search" type="text" class="form-control inner-addon right-addon fa fa-search" placeholder="&#61442; Search for..." ng-model="searchText">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="getNewBooks()">Find New Books</button>
		</span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->

 <div class="clearfix"></div>

<div ng-repeat="item in books | filter: searchText">
    <div class="col-xs-6 col-sm-4">
		<h3 class="text-center">{{item.volumeInfo.title}}</h3>
			<img class="center-block" ng-src="{{item.volumeInfo.imageLinks.thumbnail}}" alt="" >
			<h4 class="text-center">{{item.volumeInfo.authors[0]}}</h4>
			<h5 class="text-center" >{{item.volumeInfo.description}}</h5>
			<h5>{{item.volumeInfo.industryIdentifiers[0].type}}: </h5>
			<h5 class="text-center">{{item.volumeInfo.industryIdentifiers[0].identifier}}</h5>
			<button class="btn center-block" ng-click="addNewBook(item.volumeInfo)">Add To My Collection</button>  <!-- This function doesn't work ***MUST FIX-->
    </div>
  </div>

