<div>
	<img class="img-circle center-block" src="{{user.profilePic}}"><h3 class="text-center">Welcome Back, {{user.username}}</h3>
</div>


<!-- ****TESTING TABBING**** -->
<style type="text/css">
  form.tab-form-demo .tab-pane {
    margin: 20px 20px;
  }
</style>

<div ng-controller="myBookcaseCtrl">
  <uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="My Collection" active="activeForm">
	  <div class="col-xs-6 col-md-4" ng-repeat="item in myBooks">
		<h3>
			<a ng-href="#!/book/view/{{item.id}}">{{item.title}}</a>
		</h3>
			<img ng-src="{{item.imageLink}}" alt="">
			<button class="center-block" ng-click="deleteBook(item.id)">Remove From Collection</button>  
      </div>
  </uib-tab>
  <uib-tab index="1" heading="Borrowed Books" active="activeForm">
      <div class="col-xs-6 col-md-4" ng-repeat="book in borrowedBooks">
		<h3>
			<a ng-href="#!/book/view/{{item.id}}">{{book.title}}</a>
		</h3>
		<img ng-src="{{book.imageLink}}" alt="">
		<button class="center-block" ng-click="returnBook()">Return Book</button>  
	  </div>
  </uib-tab>
</uib-tabset>
</div>
  <hr /> 
