body {
  background-color: #FFC857; }
  body .navbar {
    height: 100px;
    padding: 0;
    background-color: #201f2b;
    font-size: 20px; }
  body h1 {
    color: #1F2041; }
  body .img {
    width: 128px;
    height: 195px; }
  body a.title {
    width: 9.375em;
    text-overflow: ellipsis;
    color: #119DA4; }
  body p {
    width: 200px !important;
    word-wrap: break-word !important;
    white-space: pre-wrap !important; }
  body .greeting {
    color: #1F2041; }
  body .view {
    width: 50%;
    margin: 0 auto; }
